.sidebar-container {
    width: 215px;
}

.active-sidebar-link {
    background-color: #cce2db;
}

.sidebar-menu-item {
    height: 40px;
    width: 100%;
    font-size: 1.1em;
    position: relative;
}

.sidebar-menu-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    padding-left: 10px;
}

.sidebar-menu-title-text {
    font-size: 1.1em;
    color: #999999;
}

.sidebar-menu-item a div {
    width: 100%;
    background-color: inherit;
}

.sidebar-menu-item a {
    width: 100%;
    height: 100%;
}

/* override some bootstrap behavior */
.sidebar-container > .nav > li > a:focus {
    background-color: #cce2db;
}

.sidebar-container > .nav > li > a.active-sidebar-link:hover {
    background-color: #cce2db;
}

.sidebar-container > .nav > li > a:hover {
    background-color: default;
}

.sidebar-container > .nav-pills > li > a {
    border-radius: 0;
    color: #000;
}
